@media only screen and (max-width: 992px) {

    .modal-w-content {
        width: 400px;
        text-align: center;
    }

    .line {
        left: 105px;
    }

    .footer {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    .navbar-default {
        background-color: #fff !important;
        border-color: #e6e6e6;
    }

    #mapa {
        width: 100%;
    }
    
    .google-map-item {
    	padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .modal-w-content {
    	width: 300px;
    }
    .line {
        left: 55px;
    }
    .header-text, .header-btns {
        text-align: center;
    }

}
